[user]
	name = Carl Helmertz
	email = helmertz@gmail.com
[pull]
	rebase = true
[diff]
	tool = meld
	algorithm = patience
[merge]
	tool = meld
[rebase]
	autoSquash = true
[color]
	ui = always
[push]
	default = current
[log]
	decorate = true
	date = human
[core]
	excludesfile = ~/.gitignore_global
[includeIf "gitdir:~/code/elvaco/"]
	path = ~/code/github/chelmertz/dotfiles/work.gitconfig
