[submodule "bin/postponed"]
	path = bin/postponed
	url = git@github.com:chelmertz/postponed.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
