[submodule "vim-bundles/vim-conque"]
	path = vim-bundles/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "vim-bundles/quicksilver.vim"]
	path = vim-bundles/quicksilver.vim
	url = https://github.com/Bogdanp/quicksilver.vim.git
[submodule "vim-bundles/nerdcommenter"]
	path = vim-bundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-bundles/matchit.zip"]
	path = vim-bundles/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
