.vim/.netrwhist
.zsh-local
.vim/spell/*
.vim/Session.vim
*.swp
#handled by vundle:
.vim/bundle
nvim/.cache/
nvim/cache_nvim
nvim/state_nvim.vim
nvim/repos/*
nvim/.netrwhist
nvim/spell
!*jar
gitit/gitit.log

# some binaries that I place in ~/bin, for some reason
bin/aws-vault
bin/bw
bin/cursor-*.AppImage
bin/fzf
bin/jetbrains-toolbox
bin/sysz
bin/image-sorter
*.AppImage
# wezterm is an AppImage, its docs mentioned just renaming it and.. it might not be the worst idea. most things (wezterm included) responds well to --version
bin/wezterm
bin/trurl
