[user]
	name = Carl Helmertz
	email = helmertz@gmail.com
[pull]
	rebase = true
[diff]
	tool = meld
	algorithm = patience
[merge]
	tool = meld
[rebase]
	autoSquash = true
[color]
	ui = auto
[push]
	default = current
[log]
	decorate = true
	date = human
[core]
	excludesfile = ~/.gitignore_global
	# GIT_PAGER=less git diff, if you want to opt out
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[includeIf "gitdir:~/code/elvaco/"]
	path = ~/code/github/chelmertz/dotfiles/work.gitconfig
[help]
	autocorrect = 1
