! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

URxvt*background: #000000
URxvt*foreground: #eeeeee

! --- standard colors ---

! black
URxvt*color0: #000000

! bright_black
URxvt*color8: #161616

! red
URxvt*color1: #c42776

! bright_red
URxvt*color9: #d83b89

! green
URxvt*color2: #76c427

! bright_green
URxvt*color10: #89d83b

! yellow
URxvt*color3: #c47627

! bright_yellow
URxvt*color11: #d8893b

! blue
URxvt*color4: #2776c4

! bright_blue
URxvt*color12: #3b89d8

! magenta
URxvt*color5: #7627c4

! bright_magenta
URxvt*color13: #893bd8

! cyan
URxvt*color6: #27c476

! bright_cyan
URxvt*color14: #3bd889

! white
URxvt*color7: #eeeeee

! bright_white
URxvt*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------



URxvt*font: xft:dejavu sans mono:pixelsize=15
URxvt*boldFont: xft:dejavu sans mono:bold:pixelsize=15
URxvt.scrollstyle: plain
URxvt*scrollBar_right: true

! https://wiki.archlinux.org/index.php/Rxvt-unicode#Scrollback_buffer_in_secondary_screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

