[Desktop Entry]
Type=Application
Exec=setxkbmap -layout se -option caps:escape
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Caps to escape
Name=Caps to escape
Comment[en_US]=
Comment=Symlink this file ~/.config/autostart/setxkbmap.desktop
