# symlink to /etc/systemd/user/gitit.service

[Unit]
Description=gitit wiki

[Service]
Type=simple
WorkingDirectory=/home/ch/code/github/chelmertz/dotfiles/gitit
ExecStart=gitit -f /home/ch/code/github/chelmertz/dotfiles/gitit/gitit.conf
Restart=no

[Install]
WantedBy=console.target
